.input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--color-bcg-dark-gray);
  width: 100%;
  font-size: 14px;
  line-height: 1.21;
  font-weight: normal;
  color: (--black);
  padding: 5px 0 10px;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: border-color .3s;
}

.input:focus {
  border-color: var(--black);
}
.input:invalid {
  color: var(--color-invalid-input-red);
}

.input__field {
  font-size: 10px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--color-text-gray);
}

.input__error {
  display: block;
  font-size: 10px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--color-invalid-input-red);
  padding-top: 6px;
}