body {
  margin: 0;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  --black: #000;
  --white: #FFF;
  --color-bcg-pink: #F3C1F8;
  --color-bcg-light-gray: #F2F2F2;
  --color-bcg-gray: #F5F5F5;
  --color-bcg-dark-gray: #E8E8E8;
  --color-text-gray: #A0A0A0;
  background-color: var(--white);
}
