.main {
  --main-padding-wrap: 70px;
}

.main__title {
  font-size: 22px;
  line-height: 1.22;
  font-weight: normal;
  letter-spacing: -0.04em;
  color: #000;
  margin: 0 auto;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.main__text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
}

.main__text_color_black {
  color: #000;
}

.main__text_color_white {
  color: #FFF;
  ;
}

.main__text_color_grey {
  color: #a0a0a0;
}


@media (max-width: 1023px) {
  .main {
    --main-padding-wrap: 30px;
  }
  .main__text {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .main {
    --main-padding-wrap: 14px;
  }
  .main__title {
    font-size: 18px;
    padding-bottom: 22px;

  }
  .main__text {
    font-size: 11px;
  }
}