.main {
}

.main__section {
  max-width: 1140px;
  margin: 0 auto;
}

.main__section-title {
  max-width: 1140px;
  font-size: 22px;
  line-height: 1.22;
  font-weight: normal;
  letter-spacing: -0.04em;
  color: #000;
  margin: 0 auto;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
}

.main__section-text {
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
}

.main__section-text_color_black {
  color: #000;
}

.main__section-text_color_white {
  color: #FFFFFF;
  ;
}

.main__section-text_color_grey {
  color: #a0a0a0;
}


@media (max-width: 1023px) {
  .main__section-text {
    font-size: 12px;
    line-height: 1.5;
    font-weight: normal;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .main__section-title {
    font-size: 18px;
    padding-bottom: 22px;

  }
  .main__section-text {
    font-size: 11px;
  }
}