.menu {
  align-items: center;
  display: flex;
}

.menu_sidebar_open {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 248px;
  background-color: #FFFFFF;
  padding: 159px 22px 92px;
  flex-direction: column;
}

.menu__link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
  text-decoration: none;
  transition: opacity 0.3s;
}

.menu__link_page_movies_active {
  font-weight: 500;
}

.menu__link_page_main {
  font-weight: 500;
}

.menu__link:hover {
  opacity: 0.6;
}

.menu__link_page_main:not(:last-child) {
  margin-right: 30px;
  color: #000;
}
.menu__link_page_main:last-child {
  padding: 8px 20px;
  background-color: #000;
  border-radius: 3px;
  color: #ffffff;
}

.menu__link_page_movies {
  color: #000;
}
.menu__link_page_movies:first-of-type {
  margin-right: 20px;
}
.menu__link_page_movies:last-of-type {
  margin-left: 50px;
}

.menu__link_page_movies:last-of-type::after {
  content: url(../../images/icon__profile.svg);
  padding: 10px;
  margin-left: 13px;
  background-color: #f9f9f9;
  border-radius: 6px;
}

@media (max-width: 1023px) {
  .menu_sidebar_close {
    display: none;
  }
  .menu_sidebar_open {
    display: flex;
  }
  .menu__link_page_main {
    font-size: 12px;
  }
  .menu__link_page_movies {
    font-weight: 500;
  }
  .menu__link_page_movies:not(:last-of-type) {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .menu__link_page_movies:first-of-type {
    margin-right: 0;
  }
  .menu__link_page_movies:last-of-type {
    margin-left: 0;
    margin-top: auto;
  }
  .menu__link_page_movies_active {
    border-bottom: 2px solid #000000;
  }
}

@media (max-width: 767px) {
  .menu_sidebar_open {
    left: 0;
    padding: 144px 13px 48px;
  }
  .menu__link_page_main {
    font-size: 10px;
  }
  .menu__link_page_main:not(:last-child) {
    margin-right: 14px;
  }
  .menu__link_page_main:last-child {
    padding: 5px 12px;
  }
}