.search {
  padding-bottom: 39px;
  border-bottom: 1px solid var(--color-bcg-dark-gray);
  max-width: calc(1280px - 140px);
  margin: 0 auto;
}

.search__form {
  display: grid;
  grid-template-columns: minmax(212px, 1060px) 70px;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
    "search submit"
    "duration duration";
  grid-gap: 30px 10px;
  justify-content: space-between;
}

.search__text-input {
  grid-area: search;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: var(--color-bcg-gray);
  padding: 15px 22px;
  font-size: 14px;
  line-height: 1.29;
  font-weight: normal;
  color: var(--black);
  margin: 0;
}

.search__text-input::placeholder {
  color: var(--color-text-gray);
}

.search__duration {
  grid-area: duration;
  font-size: 12px;
  line-height: 1.5;
  font-weight: normal;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__check-input {
  appearance: none;
  width: 36px;
  height: 20px;
  background-color: var(--color-bcg-gray);
  border-radius: 20px;
  margin-right: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search__check-input::after {
  display: block;
  content: "";
  width: 50%;
  height: 18px;
  box-sizing: border-box;
  background-color: var(--color-bcg-dark-gray);
  border: 1px solid var(--black);
  border-radius: 50%;
  margin: 0 1px;
}

.search__check-input:checked {
  justify-content: flex-end;
}

.search__check-input:checked::after {
  display: block;
  content: "";
  width: 50%;
  height: 18px;
  box-sizing: border-box;
  background-color: #2BE080;
  border: 1px solid var(--white);
  border-radius: 50%;
  margin: 0 1px;
}

.search__submit-button {
  grid-area: submit;
  width: 100%;
  margin: auto;
  padding: 13px 5px;
  border: none;
  background-color: var(--black);
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--white);
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.3s;
  height: fit-content;
}

.search__submit-button:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .search {
    padding: 0 4px 43px;
  }
  .search__form {
    grid-row-gap: 44px;
  }
  .search__text-input {
    padding: 13px 16px;
    font-size: 12px;
    line-height: 1.5;
  }
  .search__duration {
    font-size: 11px;
    line-height: 1.64;
  }
}
