.header {
  width: 100%;
  margin: 0 auto;
  padding: 18px 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  line-height: 0;
}

.header_color {
  background-color: var(--color-bcg-pink);
}

.header__overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility .4s, opacity .4s;
}

.header__overlay_visible {
  visibility: visible;
  opacity: 1;
}

.header__button {
  border: none;
  cursor: pointer;
}

.header__button_menu_open {
  height: 44px;
  width: 44px;
  box-sizing: border-box;
  padding: 10px 8px;
  background: url(../../images/button__open_menu.svg) no-repeat center;
  display: none;
}

.header__button_menu_close {
  height: 22px;
  width: 22px;
  background: url(../../images/button__close.svg) no-repeat center;
  position: fixed;
  z-index: 2;
  top: 30px;
  right: 27px;
}

@media (max-width: 1023px) {
  .header {
    padding: 18px 30px 0;
  }
  .header__button_menu_open {
    display: block;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 18px 14px 0;
  }
  .header__button_menu_close {
    top: 17px;
    right: 18px;
  }
}
