.promo {
  padding: 202px var(--main-padding-wrap) 224px;
  background: var(--color-bcg-pink) url(../../../images/main__banner.svg) no-repeat center 100px;
}

.promo__title {
  margin: 0 auto;
  max-width: 730px;
  font-size: 50px;
  line-height: 1.16;
  font-weight: normal;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--black);
}

@media (max-width: 1023px) {
  .promo {
    padding: 344px var(--main-padding-wrap) 342px;
    background-position: center;
  }
}

@media (max-width: 767px) {
  .promo {
    padding: 225px var(--main-padding-wrap) 248px;
    background-position: center 160px;
    background-size: 248px 248px;
  }
  .promo__title {
    max-width: 300px;
    font-size: 30.5px;
    line-height: 1.25;
  }
}