.login {
  width: 396px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 1023px) {
}

@media (max-width: 767px) {
  .login {
    width: 260px;
    align-items: center;
  }
}
