.nav-tab {
  padding: 25px var(--main-padding-wrap);
  background: #000;
}

.nav-tab__links {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-gap: 40px;
  grid-auto-flow: column;
  justify-content: center;
}

.nav-tab__link {
  font-size: 13px;
  line-height: 1.23;
  font-weight: 500;
  color: #ffffff;
  transition: opacity .3s;
}

.nav-tab__link:hover {
  opacity: .6;
}

@media (max-width: 767px) {
  .nav-tab__links {
    grid-gap: 24px;
  }
  .nav-tab__link {
    font-size: 11px;
    line-height: 1.45;
  }
}